.App {
  height: 100vh;
  width: 100%;
  background: #f7f8fc;
  display: flex;
}

.logo {
  width: 32px;
  height: 32px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  color: #a4a6b3;
  font-size: 19px;
  line-height: 24px;
}

//loader
.loader {
  position: fixed;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid firebrick;
  border-color: firebrick transparent firebrick transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

section {
  width: 100%;
  height: 100%;
}
